#steve {
    height: 100%;
    width: 100%;
    background-image: url("../images/flag.jpg");
    position: relative;
}

#amy {
    position: absolute;
    left: 16.67%;
    top: 5%;
    height: 90%;
    background-color: #b3ffff;
}

#start {
    position: absolute;
    top: 30%;
    left: 40%;
    }

#gameover {
    position: relative;
    left: 42%;
    font-size: 18px;
    }
    
    #correctans {
        float: left;
        position: relative;
        left: 40%;
    }
    
    #correctnum {
        float: left;
        position: relative;
        left: 40%;
    }
    
    #incorrectans {
        clear: both;
        float: left;
        position: relative;
        left: 40%;
    }
    
    #incorrectnum {
        float: left;
        position: relative;
        left: 40%;
    }
    
  #unanswered {
    clear: both;
    float: left;
    position: relative;
    left: 38%;
  }  

  #uanum {
    float: left;
    position: relative;
    left: 38%;
  }

#title {
 font-family: Georgia, 'Times New Roman', Times, serif;
 position: relative;
 left: 30%;
 top: 5%;
 font-size: 30px;
}

#tr {
    position: relative;
    top: 10%;
    left: 37%;
    float: left;
}

#time {
    position: relative;
    top: 10%;
    left: 37%;
    float: left;
}

.question {
    position: relative;
    left: 27%;
}

.option {
    float: left;
}

#optionbox1 {
    position: relative;
    left: 17%;
}

#optionbox2 {
    position: relative;
    left: 17%;
}

#optionbox3 {
    position: relative;
    left: 30%;
}

#q3 {
    position: relative;
    left: 23%;
}

#optionbox4 {
    position: relative;
    left: 40%;

}

#q4 {
    position: relative;
    left: 13%;
}

#optionbox5 {
    position: relative;
    left: 34%;
}

